<!doctype html>
<html>
  <head>
    <title>image-compare demo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="../../iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="../../iron-demo-helpers/demo-snippet.html">

    <link rel="import" href="../image-compare.html">

    <style is="custom-style" include="demo-pages-shared-styles">
    </style>
  </head>
  <body>

      <h3>Basic image-compare Demo</h3>
      <demo-snippet>
        <template>
          <image-compare src="img-original.jpg" with="img-modified.jpg"></image-compare>
        </template>
      </demo-snippet>

  </body>
</html>
